{% extends 'data_modifier/base.html' %}
{% load static %}

{% block content_block %}
    <div class="container align-middle">
        <h1>Section Navigation</h1>
        <hr>
        
        <div class="row">
            <div class="col-md-12">
                {% for s in sections %}
                    <div class="col-md-3 mb-1" style="font-size: 20px;">
                        <div class="card bg-success">
                            <div class="card-body text-center">
                                <a href="{% url 'navigation_section' s.0 %}" class="text-white text-decoration-none">{{s.1}}</a>
                                &nbsp;
                                {% if parent_id %}
                                    <a href="{% url 'section_edit_language' parent_id s.0 %}" class="btn btn-warning btn-sm">EDIT</a>
                                {% else %}
                                    <a href="{% url 'section_edit_language_noparent' s.0 %}" class="btn btn-warning btn-sm">EDIT</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {%endfor %}
                <div class="col-md-3 mb-1 mt-2" style="font-size: 20px;">
                    <div class="card bg-primary">
                        {% if parent_id %}
                        <a href="{% url 'section_create' parent_id %}" class="card-body text-center text-white text-decoration-none">
                            ADD NEW
                        </div>
                        {% else %}
                        <a href="{% url 'section_create_noparent' %}" class="card-body text-center text-white text-decoration-none">
                            ADD NEW
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}