{% extends 'data_modifier/base.html' %}
{% load static %}

{% block content_block %}
    <div class="container align-middle">
        <h1>Section Navigation</h1>
        <hr>
        
        <div class="row">
            <div class="col-md-12">
                {% for s in sections %}
                    <div class="col-md-3 mb-1" style="font-size: 20px;">
                        <div class="card bg-success">
                            <div class="card-body text-center">
                                <a href="{% url 'navigation_section' s.0 %}" class="text-white text-decoration-none">{{s.2}}</a>
                                &nbsp;
                                <a href="{% url 'section_edit' s.0 %}" class="btn btn-warning btn-sm">EDIT</a>
                            </div>
                        </div>
                    </div>
                {%endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}