{% extends 'data_modifier/base.html' %}
{% load static %}

{% block content_block %}
    <div class="container align-middle">
        <h1>Languages</h1>
        <hr>
        
        <div class="col-md-6">
            <table class="table mt-5 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Language</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in languages %}
                    <tr>
                        <th scope="row">{{l.0}}</th>
                        <td>{{l.1}}</td>
                        <td><a class="btn btn-danger float-end btn-sm {% if l.1 == 'en' %} disabled {% endif %}" href="#"  >Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary float-end" href="#">Add A Language</a>
        </div>
        
    </div>
{% endblock %}