{% extends 'data_modifier/base.html' %}
{% load static %}

{% block content_block %}
    <div class="container align-middle">
        <h1>Edit Section</h1>
        <hr>
        

        <div class="col-md-12">
            <h3 class="mt-5">Translations Of The Section</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Language</th>
                        <th scope="col">Section Title</th>
                        <th scope="col">Section Info</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i, s in section_translations %}
                    <tr>
                        <th scope="row">{{i|add:"1"}}</th>
                        <td>{{s.3}}</td>
                        <td>{{s.2}}</td>
                        <td>{{s.1}}</td>
                        <td>
                            <a href="{% url 'section_edit' s.0 s.4 %}" class="btn btn-success btn-sm float-end">Modify...</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        
    </div>
{% endblock %}